Code/
pulse/
GIMP/
Postman/
htop/
skypeforlinux/
wireshark/
Slack/
Brave*
figma-linux*
yarn*
coc*
Cypress*
configstore*
google-chrome*
sanity*
nvim/session*
zsh/.zsh_history
zsh/.zcompdump
zsh/zsh-syntax-highlighting
ranger/plugins/
thefuck/*
chromium/
spotify/
tidal-hifi/
