Code/
GIMP/
Postman/
htop/
skypeforlinux/
wireshark/
Slack/
Brave*
figma-linux*
yarn*
Cypress*
configstore*
google-chrome*
sanity*
coc/
nvim/session*
zsh/.zsh_history
zsh/.zcompdump
zsh/zsh-syntax-highlighting
